
	<footer id="fh5co-footer" role="contentinfo">
	
		<div class="container">
			
				
			
			<div class="col-md-6 col-md-push-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0 text-center">
			
				<h3>K o n t a k t</h3>
				<p><br><br>Napisz coś do mnie:<br> tomasz.zdzymira@gmail.com
					<!--Ta strona istnieje dlatego, że szukam odpowiedzi na pytanie, czy te litery zdolne są napisać jakąś pieśń, ocalić jakąś pamięć, przywrócić jakieś dobro, wreszcie: czy poezja może zbawiać. Mnie lub Ciebie, kimkolwiek jesteś, Drogi Czytelniku.  --></p>
			
			</div>
		

			<div class="col-md-12 fh5co-copyright text-center">
                <p>&copy; 2018-2022 Tomasz Zdzymira    <img src="images/logo3wh.png" alt="tz" height="36" width="36"><span><a href="" target="_blank"></a>Images by <a href="http://unsplash.com/" target="_blank" style="color: grey;">Unsplash</a></span><span></span><span class="foot-copyright"> </br> <!--<a href="in.html" target="_blank">Inspiracje<br><small>• • • DOBRE TEKSTY • • •</small></a>--></span></p>	
			</div>
			
		</div>
	</footer>
	